/*** General  ***/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Roboto Slab', serif;
  height: 100%;
  background-color: #312E38;
  color: #fff;
  margin: 0;
}

.errorlist {
  color:#ff0000;
}

/***  Navigation  ***/

nav {
  font-size: 25px;
  z-index: 5;
}

a.nav-link {
border-bottom: 2px solid transparent;
}

a.nav-link:hover {
  border-bottom: 2px solid #FF9000;
}

.book-now {
  font-size: 15px;
}

/***  Buttons styles ***/

.btn-login {
  border: 1px solid #FF9000;
  background-color: #FF9000;
  color: #312E38;
  padding: 10px 85px;
  height: 50px;
}

.btn-outline-warning {
  border-color: #FFA500;
  color: #FFA500;
}

.btn-outline-warning:hover,
.btn-outline-warning:focus,
.account-btn:hover,
.account-btn:focus {
  color: #312E38;
  background-color: #FFA500;
  /* border-color: #FFA500; */
}




/*** Index page ***/

.half-block {
  width: 50%;
  height: 100vh;
}

img.logo {
  width: 230px;
  height: 130px;
}


.half-bg {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  
  margin-top: -100px;
  width: 50%;
  /* height: 110vh; */
  z-index: 2;
}



.bg-home {
  background-image: url("/static/assets/img/header-bg.jpg");
}

.btn-login {
  display: inline-block;
  padding: 0 95px;
  outline: none;
  border-radius: 4px;
  height: 38px;
  line-height: 32px;
  font-weight: 500;
  text-decoration: none;
  color: #312E38;
  background-color: #FF9000;
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
  vertical-align: top;
}

.btn-login:hover {
  background-color: #ffcc00;
  text-decoration: none;
}

.btn-login:active {
  background-color: #FFA500;
  color: #000;
}

.orange {
  color: #FF9000;
}

.orange:hover {
  text-decoration: none;
  color: #fff;
}


/*** Services page ***/

.services-page {
  background-image: url("https://res.cloudinary.com/drnlhcap9/image/upload/v1668434943/static/img/bg-services.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.services-contain {
  width: 95%;
  margin: 0 auto;
  background-color: #fff;
  opacity: 0.9;
  border: 1px solid #6c757d;
  border-radius: 5px;
}

.services-block {
  width: 100%;
  margin-top: 5vh;
  padding-bottom: 10px;
}

.title-block-services {
  background-color: #000;
  opacity: 0.8;
  color: #fff;
}


.services {
  /* background-color: #fff;
  opacity: 0.8; */
  color: #000;
}

.services-item {
  display: inline-block;
  width: 100%;
  padding: 0 2px;
  vertical-align: middle;
  margin: 0 auto;
  height: 4em;
  line-height: 4em;
  border: 1px solid #312E38;
  border-top:0;
}

.text-right,
.text-left {
  display: inline-block;
}

.text-left {
  float: left;
}

.text-right {
  float: right;
}

.btn-light {
  border: 1px solid #000;
}


/*** Booknow page ***/

.booknow-page {
  background-image: url("https://res.cloudinary.com/drnlhcap9/image/upload/v1668434943/static/img/bg-services.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.booknow-contain {
  margin: 0 auto;
  background-color: #312E38;
  opacity: 0.9;
  border: 1px solid #6c757d;
  border-radius: 5px;

}

.booknow-block {
  font-weight: 500;
  background-color: #312E38;
  opacity: 0.9;
  border: 1px solid #6c757d;
  border-radius: 5px;
}

.booknow-block a {
  color: #FF9000;
}




/*** Bookings page ***/

.card {
  width: 17rem;
  display: inline-block;
  align-items: center;
}

.delete-btn {
  color: #312E38 ;
  font-weight: 500;

}

/*** Change-booking page  */

.change-form {
  border: 1px solid #6c757d;
  border-radius: 5px;
}



/* Login page */

.bg-login{
  background-image: url("https://res.cloudinary.com/drnlhcap9/image/upload/v1668536649/static/img/bg-login-md.jpg");
  /* background-position: 0 0; */
  z-index: 2;
}


/* Sign Up page */

.bg-signup {
  background-image: url("https://res.cloudinary.com/drnlhcap9/image/upload/v1668616044/static/img/bg-register-md.png");
  /* background-position: 0 0; */
}

.form {
  border: 2px solid #6c757d;
  border-radius: 5px;
  padding: 2rem;
  margin: 0 auto;
}

/* Logout page */  
.bg-logout {
  background-image: url("https://res.cloudinary.com/drnlhcap9/image/upload/v1668543776/static/img/bg-logout.jpg");
  z-index: 2;
}



/*** Media queries  ***/

/* for screens that are 1024px wide or less */
@media (max-width: 1024px) {
  .half-bg {
      background-position-x: 65%;
  }

  .form {
      width: 75%;       
  }
}

/* for screens that are 912px wide or less */
@media (max-width: 912px) {

  .half-block{
      width: 100%;
  }

  .half-bg {
      display: none;
  }


/*** Change booking page  ***/

.card-change {
  width: 80%;    
}
 
}

/* for screens that are 480px wide or less */
@media (max-width: 480px) {
  .half-bg {
      display: none;
  }
  .services-page,
  .booknow-page {
      background-image: none;
  }

  .change-form {
      width: 95%;
      padding: 10px;
  }

  .services-contain {
      padding-left: 10px;
      padding-right: 10px;
  }

  .services-item,
  .btn-light {
      margin-left: 1px;
      margin-right: 1px;
      font-size: 0.8rem;
  }

}

/* for screens that are 320px wide or less */
@media (max-width: 320px) {
  /* .services-item, .btn-light {
      font-size: 0.8rem;
  } */

  a.btn-light {
      padding: 4px 10px;
  }

  
}