/*** General  ***/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Roboto Slab', serif;
  height: 100%;
  background-color: #333d51;
  color: #fff;
  margin: 0;
}

.wrapper {
  background-color: #93A6A5;  
}

.errorlist {
  color:#ff0000;
}

/***  Navigation  ***/

nav {
  font-size: 20px;
  z-index: 5;
}

a.nav-link {
border-bottom: 2px solid transparent;
}

a.nav-link:hover {
  border-bottom: 2px solid #F6C026;
}

.book-now {
  font-size: 15px;
}

.navbar-brand {
  font-family: 'Zeyada', sans-serif;
  font-size: 50px;
  color: #F6C026 !important;
  transition: transform 0.2s ease;
}

.navbar-brand:active {
  
  /* Apply the push button effect */
  transform: scale(0.9);
}

/* Footer */

footer {
  background-color: #333d51;
  color: white;
  padding: 40px 0;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  min-width: 250px;
  margin: 0 20px;
}

.footer-section h4 {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li a {
  display: block;
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
}

.footer-section ul li a:hover {
  color: #F6C026;
}

.social-icons {
  display: flex;
}

.social-icons a {
  color: white;
  font-size: 24px;
  margin-right: 10px;
  text-decoration: none;
}

.social-icons a:hover {
  color: #F6C026;
}

.footer-bottom {
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
}

/***  Buttons styles ***/

.btn-login {
  border: 1px solid #F6C026;
  background-color: #F6C026;
  color: #333d51;
  padding: 10px 85px;
  height: 50px;
}

.btn-outline-warning {
  border-color: #F6C026;
  color: #F6C026;
}

.btn-outline-warning:hover,
.btn-outline-warning:focus,
.account-btn:hover,
.account-btn:focus {
  color: #333d51;
  background-color: #F6C026;
  
}

/*** Index page ***/

.half-bg {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100vh; 
  z-index: 2;
}

.half-block {
  width: 60%;
  height: 100vh;
}


.bg-home {
  background-image: url("/static/assets/img/booknow.jpg");
  
}

.background-box {

  position: absolute;
  top: 50%; /* adjust as necessary */
  left: 50%;
  transform: translateX(-50%);
  background-color: #333d51;
  padding: 20px;
  border-radius: 5px;
  border: 2.5px solid #F6C026;
  width: 350px;
}

.btn-login {
  display: inline-block;
  padding: 0 95px;
  outline: none;
  border-radius: 4px;
  height: 38px;
  line-height: 32px;
  font-weight: 500;
  text-decoration: none;
  color: #333d51;
  background-color: #ffcc00;
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
  vertical-align: top;
}

.btn-login:hover {
  background-color: #F6C026;
  text-decoration: none;
}

.btn-login:active {
  background-color: #F6C026;
  color: #000;
}

.orange {
  color: #F6C026;
}

.orange:hover {
  text-decoration: none;
  color: #fff;
}


/*** services page ***/

.services-page {
  background-image: url("/static/assets/img/services.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.services-contain {
  width: 95%;
  margin: 0 auto;
  background-color: #fff;
  opacity: 0.9;
  border: 1px solid #6c757d;
  border-radius: 5px;
}

.services-block {
  width: 100%;
  margin-top: 5vh;
  padding-bottom: 10px;
}

.title-block-services {
  background-color: #000;
  opacity: 0.8;
  color: #fff;
}


.services {
  
  color: #000;
}

.services-item {
  display: inline-block;
  width: 100%;
  padding: 0 2px;
  vertical-align: middle;
  margin: 0 auto;
  height: 4em;
  line-height: 4em;
  border: 1px solid #312E38;
  border-top:0;
}

.text-right,
.text-left {
  display: inline-block;
}

.text-left {
  float: left;
}

.text-right {
  float: right;
}

.btn-light {
  border: 1px solid #000;
}


/*** Booknow page ***/

.booknow-page {
  background-image: url("/static/assets/img/booknow.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.booknow-contain {
  margin: 0 auto;
  background-color: #312E38;
  opacity: 0.9;
  border: 1px solid #6c757d;
  border-radius: 5px;

}

.booknow-block {
  font-weight: 500;
  background-color: #312E38;
  opacity: 0.9;
  border: 1px solid #6c757d;
  border-radius: 5px;
}

.booknow-block a {
  color: #FF9000;
}

/*** Bookings page ***/

.card {
  width: 17rem;
  display: inline-block;
  align-items: center;
}

.delete-btn {
  color: #312E38 ;
  font-weight: 500;

}

/*** Change-booking page  */

.change-form {
  border: 1px solid #6c757d;
  border-radius: 5px;
}

/* Login page */

.bg-login{
  background-image: url("/static/assets/img/services2.jpg");
  /* background-position: 0 0; */
  z-index: 2;
}

/* Sign Up page */

.bg-signup {
  background-image: url("/static/assets/img/header-bg.jpg");
  /* background-position: 0 0; */
}

.signup h3, .signup p, .signup a, .signup label {
  color: #000;
}

.account-link {
  color: #F6C026;
}

.form {
  border: 2px solid #6c757d;
  border-radius: 5px;
  padding: 2rem;
  margin: 0 auto;
}

/* Logout page */  
.bg-logout {
  background-image: url("/static/assets/img/logout.jpg");
  z-index: 2;
}

/*** Media queries  ***/

/* for screens that are 1024px wide or less */
@media (max-width: 1024px) {
  .half-bg {
      background-position-x: 65%;
  }

  .form {
      width: 75%;       
  }

}

/* for screens that are 912px wide or less */
@media (max-width: 912px) {

  .half-block{
      width: 100%;
  }

  .bg-home {
    background-image: url("/static/assets/img/signin.jpg");
    
  }

  .navbar-brand,
  .book-now-btn {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .book-now-btn {
    margin-top: 10px;
  }


/*** Change booking page  ***/

.card-change {
  width: 80%;    
}
 
}

/* for screens that are 480px wide or less */
@media (max-width: 480px) {
  .half-bg {
      display: none;
  }
  .services-page,
  .booknow-page {
      background-image: none;
  }

  .change-form {
      width: 95%;
      padding: 10px;
  }

  .services-contain {
      padding-left: 10px;
      padding-right: 10px;
  }

  .services-item,
  .btn-light {
      margin-left: 1px;
      margin-right: 1px;
      font-size: 0.8rem;
  }

}

/* for screens that are 320px wide or less */
@media (max-width: 320px) {

  a.btn-light {
      padding: 4px 10px;
  }

  
}