{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="wrapper d-flex justify-content-center">

    <div class="half-block d-flex align-items-center justify-content-center">
        <div class="logo-middle">
            <img class="logo mb-5" src="{% static 'img/logo.svg' %}" alt="logo">

            <div class="text-center">
                <p><a href="{% url 'account_login' %}" class="orange mt-5 ">
                        <span><i class="fa-solid fa-arrow-right-to-bracket"></i></span> Login</a></p>
                <p><span>OR</span></p>
                <p><a href="{% url 'account_signup' %}" class="orange mt-5">
                        <span><i class="fa-solid fa-user-plus"></i></span> Create account</a></p>
            </div>
        </div>
    </div>

    <div class="half-bg bg-home">
    </div>
</div>




{% endblock %}